<div ng-controller="Our.Umbraco.Dashbraco.Controller as vm" class="dashbraco">
    <div class="dashboard-tabs">
        <ul class="tab-menu">
            <li ng-class="{ active: vm.activeTab === 'pictureOfTheDay' }" ng-click="vm.setActiveTab('pictureOfTheDay')" ng-if="vm.showPictureOfTheDay">
                <localize key="dashbraco_pictureOfTheDayTab">Picture of the Day</localize>
            </li>
            <li ng-class="{ active: vm.activeTab === 'unusedMedia' }" ng-click="vm.setActiveTab('unusedMedia')" ng-if="vm.showUnusedMedia">
                <localize key="dashbraco_unusedMediaTab">Unused Media</localize>
            </li>
            <li ng-class="{ active: vm.activeTab === 'analytics' }" ng-click="vm.setActiveTab('analytics')">
                <localize key="dashbraco_analyticsTab">Analytics</localize>
            </li>
        </ul>

        <div class="tab-content">
            <div ng-show="vm.activeTab === 'analytics'">
                <umb-box>
                    <umb-box-header title-key="dashbraco_overviewTitle" description-key="dashbraco_overviewDescription"></umb-box-header>
                    <div class="dashboard-content">
                        <p><localize key="dashbraco_visitorsLabel">Visitors:</localize> {{ vm.analyticsData.visitors }}</p>
                        <p><localize key="dashbraco_pageViewsLabel">Page Views:</localize> {{ vm.analyticsData.pageViews }}</p>
                        <p><localize key="dashbraco_avgSessionDurationLabel">Average Session Duration:</localize> {{ vm.analyticsData.avgSessionDuration }}</p>
                    </div>
                </umb-box>
            </div>

            <div ng-show="vm.activeTab === 'pictureOfTheDay'" ng-if="vm.showPictureOfTheDay">
                <umb-box>
                    <umb-box-header title="{{vm.pictureOfTheDayTitle}}"></umb-box-header>
                    <div class="dashboard-content">
                        <div ng-if="vm.pictureOfTheDay.media_type == 'image'">
                            <figure>
                                <figcaption>{{ vm.pictureOfTheDay.explanation }}</figcaption>
                                <img src="{{ vm.pictureOfTheDay.hdurl }}" alt="{{ vm.pictureOfTheDay.title }}" />
                            </figure>
                        </div>
                        <div ng-if="vm.pictureOfTheDay.media_type == 'video'">
                            <iframe width="640" height="385" ng-src="{{ vm.trustSrc(vm.pictureOfTheDay.url) }}" frameborder="0"></iframe>
                        </div>
                    </div>
                </umb-box>
            </div>

            <div ng-show="vm.activeTab === 'unusedMedia'">
                <umb-box>
                    <umb-box-header title-key="dashbraco_unusedMediaTitle" description-key="dashbraco_unusedMediaDescription"></umb-box-header>
                    <div class="dashboard-content">
                        <button class="btn-refresh" ng-click="vm.startUnusedMediaReport()" ng-disabled="vm.isProcessingMedia">
                            <localize key="dashbraco_startReportButton">Start Report</localize>
                        </button>
                        <div class="stats">
                            <p><localize key="dashbraco_totalMediaLabel">Total Media:</localize> <strong>{{ vm.totalAmountOfMedia }}</strong></p>
                            <p><localize key="dashbraco_unusedMediaLabel">Unused Media:</localize> <strong>{{ vm.totalUnusedMedia }}</strong></p>
                        </div>
                        <table class="table unused-media-table">
                            <thead>
                                <tr>
                                    <th><localize key="dashbraco_tableHeaderID">ID</localize></th>
                                    <th><localize key="dashbraco_tableHeaderName">Name</localize></th>
                                    <th><localize key="dashbraco_tableHeaderType">Type</localize></th>
                                    <th><localize key="dashbraco_tableHeaderActions">Actions</localize></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="media in vm.unusedMedia">
                                    <td>{{ media.id }}</td>
                                    <td>{{ media.name }}</td>
                                    <td>{{ media.type }}</td>
                                    <td>
                                        <button class="btn-action" ng-click="vm.moveItemToRecycling(media.id)">
                                            <localize key="dashbraco_moveToRecyclingButton">Move to Recycling</localize>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </umb-box>
            </div>
        </div>
    </div>
</div>
